body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #488daa;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

.table-container {
  max-height: 300px; /* Set a fixed height for the container */
  overflow-y: auto;  /* Enable vertical scrolling */
  overflow-x: auto;  /* Enable horizontal scrolling if needed */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

select {
  margin-right: 10px;
  padding: 5px;
}

#nameSearch {
  margin-right: 10px;
  padding: 5px;
  width: 200px; /* Adjust the width as needed */
}

/* New CSS for table highlighting */
td:has(~ td:hover), /* previous sibling cells */
table:has(td:nth-of-type(3):hover) /* column cells */
tr:not(:first-of-type):has(~ tr:hover)
td:nth-of-type(3) {
  background: var(--highlighted);
}
